// ==================================================
//
//                     Clearfix
//
// ==================================================

@mixin clearfix {
    &::after {
        content: "";
        display: block;
        clear: both;
    }
}

// ==================================================
//
//          Manage screen size breakpoints
//
// ==================================================

@mixin respond($breakpoint) {
    @if $breakpoint == phone {
        @media (max-width: 600px) { @content };
    }
    @if $breakpoint == phone-mid {
        @media (min-width: 450px) { @content };
    }
    @if $breakpoint == tab-port {
        @media (min-width: 600px) { @content };
    }
    @if $breakpoint == tab-land {
        @media (min-width: 900px) { @content };
    }
}

// ==================================================
//
//         Control responsive column widths
//
// ==================================================

@mixin column-width($num-cols, $screen) {

    $calculated-width: calc((100% - ((#{$grid-columns} / #{$num-cols}) - 1) * #{$gutter-x}) / (#{$grid-columns} / #{$num-cols}));

    @if $screen == sm or $screen == md or $screen == lg {
            .col-#{$screen}-#{$num-cols} {
                width: $calculated-width;
            }
    }
}

@mixin column-methods($screen) {

    @if $screen == md {
        .#{$screen}-fillback {
            transform: translateX(-50%); 
            margin-left: -($gutter-x / 2) ;
        }
    }

    @if $screen == lg {
        .#{$screen}-normalise {
            transform: translateX(0);
            margin: 0;
        }
    }
    
}

// ==================================================
//
//             Build container classes
//
// ==================================================

@mixin build-containers($width, $screen, $type) {

    @if $screen == md or $screen == lg {
        .container-#{$type}-#{$width * 10}{
            margin: 0 auto;
            width: $width * 10%;
        }
    }

}

// ==================================================
//
//      Control the building of utility classes
//
// ==================================================

@mixin build-utilities($u, $num, $screen) {

    @if $screen == sm or $screen == md or $screen == lg { 

        // ==================================================
        //
        //                Height and width
        //
        // ==================================================

        @if $u == h { .#{$u}-#{$screen}-#{$num} { height: #{$num}rem !important; }}
        @if $u == w { .#{$u}-#{$screen}-#{$num} { width: #{$num}rem !important; }}

        // ==================================================
        //
        //                     Margins
        //
        // ==================================================

        @if $u == m { .#{$u}-#{$screen}-#{$num} { margin: #{$num}rem !important; }}
        @if $u == mx { .#{$u}-#{$screen}-#{$num} { margin-left: #{$num}rem !important; margin-right: #{$num}rem !important; }}
        @if $u == my { .#{$u}-#{$screen}-#{$num} { margin-top: #{$num}rem !important; margin-bottom: #{$num}rem !important; }}
        @if $u == mt { .#{$u}-#{$screen}-#{$num} { margin-top: #{$num}rem !important; }}
        @if $u == mb { .#{$u}-#{$screen}-#{$num} { margin-bottom: #{$num}rem !important; }}
        @if $u == ml { .#{$u}-#{$screen}-#{$num} { margin-left: #{$num}rem !important; }}
        @if $u == mr { .#{$u}-#{$screen}-#{$num} { margin-right: #{$num}rem !important; }}

        // ==================================================
        //
        //                     Padding
        //
        // ==================================================

        @if $u == p { .#{$u}-#{$screen}-#{$num} { padding: #{$num}rem !important; }}
        @if $u == px { .#{$u}-#{$screen}-#{$num} { padding-left: #{$num}rem !important; padding-right: #{$num}rem !important; }}
        @if $u == py { .#{$u}-#{$screen}-#{$num} { padding-top: #{$num}rem !important; padding-bottom: #{$num}rem !important; }} 
        @if $u == pt { .#{$u}-#{$screen}-#{$num} { padding-top: #{$num}rem !important; }}
        @if $u == pb { .#{$u}-#{$screen}-#{$num} { padding-bottom: #{$num}rem !important; }}
        @if $u == pl { .#{$u}-#{$screen}-#{$num} { padding-left: #{$num}rem !important; }}
        @if $u == pr { .#{$u}-#{$screen}-#{$num} { padding-right: #{$num}rem !important; }} 
    }
}