// ==================================================
//
//               Initialise grid 
//
// ==================================================

$grid-width: 100%;
$grid-columns: 12;

$gutter-x: 1rem; 
$gutter-y: 2rem;
