[class ^="container-"] {

    display: block;
    min-height: inherit;

    .row {
        min-height: inherit;
        max-width: $grid-width;
        margin: 0 auto;
        

        &:not(:last-of-type) {
            margin-bottom: $gutter-y;
        }
    
        @include clearfix;
    
        [class ^="col-"] {
            float: left;
            min-height: inherit;
            width: 100%;
    
            margin-left: 0;
            margin-right: 0;
        }
    
        @include respond(tab-port) {
    
            [class ^="col-"] {
                margin-bottom: 0;
    
                &:not(:last-of-type) {
                    margin-right: $gutter-x;
                }
            }
        }
    
        @for $i from 1 through $grid-columns * 2 { @include column-width($i, sm); }
        @for $i from 1 through $grid-columns * 2 { @include column-width($i, md); }
        @for $i from 1 through $grid-columns * 2 { @include column-width($i, lg); }
    
    }

}



@for $i from 1 through 10 { $multiplier: $i * 10; @include build-containers($i, 0, fluid); }





