[class ^="container-"] {

    display: block;
    width: 100%;
    min-height: inherit;

    .row {
        min-height: inherit;
        max-width: $grid-width;
        margin: 0 auto;
        

        &:not(:last-of-type) {
            margin-bottom: $gutter-y;
        }
    
        @include clearfix;
    
        [class ^="col-"] {
            float: left;
            min-height: inherit;
            width: 100%;
    
            margin-left: 0;
            margin-right: 0;
        }
    
        @include respond(tab-port) {
    
            [class ^="col-"] {
                margin-bottom: 0;
    
                &:not(:last-of-type) {
                    margin-right: $gutter-x;
                }
            }
        }
    
        @include respond(phone) {
            @for $i from 1 through $grid-columns * 2 { @include column-width($i, sm); }
        }

        @include respond(tab-port) {
            @for $i from 1 through $grid-columns * 2 { @include column-width($i, md); }
            @include column-methods(md);
        }
        
        @include respond(tab-land) {
            @for $i from 1 through $grid-columns * 2 { @include column-width($i, lg); }
            @include column-methods(lg);
        }    
    }

}

// @include respond(phone) {
//     @for $i from 1 through 10 { $multiplier: $i * 10; @include build-containers($i, sm, fluid); }
// }

@include respond(tab-port) {
    @for $i from 1 through 10 { $multiplier: $i * 10; @include build-containers($i, md, fluid); }
}








