// ==================================================
//
//                 Height and width
//
// ==================================================

@for $i from 1 through 100 { @include build-utilities(h, $i, sm); }
@for $i from 1 through 100 { @include build-utilities(h, $i, md); }
@for $i from 1 through 100 { @include build-utilities(h, $i, lg); }
@for $i from 1 through 100 { @include build-utilities(w, $i, sm); }
@for $i from 1 through 100 { @include build-utilities(w, $i, md); }
@for $i from 1 through 100 { @include build-utilities(w, $i, lg); }


// ==================================================
//
//                      Margins
//
// ==================================================

@for $i from 1 through 15 { @include build-utilities(m, $i, sm); }
@for $i from 1 through 15 { @include build-utilities(m, $i, md); }
@for $i from 1 through 15 { @include build-utilities(m, $i, lg); }
@for $i from 1 through 15 { @include build-utilities(mx, $i, sm); }
@for $i from 1 through 15 { @include build-utilities(mx, $i, md); }
@for $i from 1 through 15 { @include build-utilities(mx, $i, lg); }
@for $i from 1 through 15 { @include build-utilities(my, $i, sm); }
@for $i from 1 through 15 { @include build-utilities(my, $i, md); }
@for $i from 1 through 15 { @include build-utilities(my, $i, lg); }
@for $i from 1 through 15 { @include build-utilities(mt, $i, sm); }
@for $i from 1 through 15 { @include build-utilities(mt, $i, md); }
@for $i from 1 through 15 { @include build-utilities(mt, $i, lg); }
@for $i from 1 through 15 { @include build-utilities(mb, $i, sm); }
@for $i from 1 through 15 { @include build-utilities(mb, $i, md); }
@for $i from 1 through 15 { @include build-utilities(mb, $i, lg); }
@for $i from 1 through 15 { @include build-utilities(ml, $i, sm); }
@for $i from 1 through 15 { @include build-utilities(ml, $i, md); }
@for $i from 1 through 15 { @include build-utilities(ml, $i, lg); }
@for $i from 1 through 15 { @include build-utilities(mr, $i, sm); }
@for $i from 1 through 15 { @include build-utilities(mr, $i, md); }
@for $i from 1 through 15 { @include build-utilities(mr, $i, lg); }

// ==================================================
//
//                      Padding
//
// ==================================================

@for $i from 1 through 15 { @include build-utilities(p, $i, sm); }
@for $i from 1 through 15 { @include build-utilities(p, $i, md); }
@for $i from 1 through 15 { @include build-utilities(p, $i, lg); }
@for $i from 1 through 15 { @include build-utilities(px, $i, sm); }
@for $i from 1 through 15 { @include build-utilities(px, $i, md); }
@for $i from 1 through 15 { @include build-utilities(px, $i, lg); }
@for $i from 1 through 15 { @include build-utilities(py, $i, sm); }
@for $i from 1 through 15 { @include build-utilities(py, $i, md); }
@for $i from 1 through 15 { @include build-utilities(py, $i, lg); }
@for $i from 1 through 15 { @include build-utilities(pt, $i, sm); }
@for $i from 1 through 15 { @include build-utilities(pt, $i, md); }
@for $i from 1 through 15 { @include build-utilities(pt, $i, lg); }
@for $i from 1 through 15 { @include build-utilities(pb, $i, sm); }
@for $i from 1 through 15 { @include build-utilities(pb, $i, md); }
@for $i from 1 through 15 { @include build-utilities(pb, $i, lg); }
@for $i from 1 through 15 { @include build-utilities(pl, $i, sm); }
@for $i from 1 through 15 { @include build-utilities(pl, $i, md); }
@for $i from 1 through 15 { @include build-utilities(pl, $i, lg); }
@for $i from 1 through 15 { @include build-utilities(pr, $i, sm); }
@for $i from 1 through 15 { @include build-utilities(pr, $i, md); }
@for $i from 1 through 15 { @include build-utilities(pr, $i, lg); }

// ==================================================
//
//                 Remove Gutters
//
// ==================================================

.rm-tgutter-y { margin-top: -$gutter-y !important;}
.rm-bgutter-y { margin-bottom: -$gutter-y !important;}





.pos-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}